<header class="bg-[#FAFAFA] py-3 px-6 w-full flex">
  <div class="bg-amber-200 p-3 flex items-center gap-2">
    <img src="images/icon-logo.svg" class="w-5" />
    <h1 class="font-bold">GoTask</h1>
  </div>
  <nav class="bg-amber-600 p-3 ml-auto flex gap-6">
    <button class="bg-white p-2 rounded-xl">
      <img src="images/icon-notification.svg" class="w-5" />
    </button>
    <div class="flex items-center gap-3">
      <img src="images/icon-user-avatar.svg" class="w-7" />
      <span class="font-bold">Jennie K.</span>
      <button class="w-3">
        <img src="images/icon-sign-out.svg" class="w-3"/>
      </button>
    </div>
  </nav>
</header>
