<div class="p-3 mb-6 flex overflow-x-auto scrollbar-hidden">
  <!-- Coluna A fazer -->
  <div class="flex-1 py-3 px-6 min-w-60 flex flex-col gap-6">
    <div class="py-2 border-b border-[#D1D5DB] flex items-center gap-1">
      <h1 class="font-bold">A fazer</h1>
      <span
        class="text-xs font-semibold text-white bg-black py-1 px-2 rounded-xl"
        >1</span
      >
    </div>
    <div>
      <!-- TAREFA -->
      <div class="flex flex-col gap-4">
        <app-task-card />
        <app-task-card />
        <app-task-card />
      </div>
    </div>
  </div>
  <!-- Coluna Fazendo -->
  <div class="flex-1 py-3 px-6 min-w-60 flex flex-col gap-6">
    <div class="py-2 border-b border-[#D1D5DB] flex items-center gap-1">
      <h1 class="font-bold">Fazendo</h1>
      <span
        class="text-xs font-semibold text-white bg-[#FF850A] py-1 px-2 rounded-xl"
        >1</span
      >
    </div>
    <div>
      <!-- TAREFA -->
      <div class="flex flex-col gap-4">
        <app-task-card />
        <app-task-card />
      </div>
    </div>
  </div>
  <!-- Coluna feito -->
  <div class="flex-1 py-3 px-6 min-w-60 flex flex-col gap-6">
    <div class="py-2 border-b border-[#D1D5DB] flex items-center gap-1">
      <h1 class="font-bold">Feito</h1>
      <span
        class="text-xs font-semibold text-white bg-[#15DE78] py-1 px-2 rounded-xl"
        >1</span
      >
    </div>
    <div>
      <!-- TAREFA -->
      <div class="flex flex-col gap-4">
        <app-task-card />
      </div>
    </div>
  </div>
</div>
